.message-container {
  background-color: black;
  max-width: 36em;
  border-radius: 1em;
  box-shadow: 0 0 15px rgba(14, 242, 223, 0.989),
    0 0 20px rgba(6, 224, 240, 0.989);
  animation: pulse 1s infinite alternate;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  position: relative;
  display: flex;
  align-items: flex-start; /* Alinear al inicio */
  justify-content: center;
  flex-wrap: wrap;
  margin: 1em;
  padding: 0.5em;
}

.message {
  font-family: "Sawarabi Gothic", sans-serif;
  color: rgba(226, 238, 237, 0.989);
  font-size: 25px;
  font-weight: 800;
  text-align: start;
  white-space: normal; /* Permitir que el texto se ajuste */
  overflow-wrap: break-word; /* Romper palabras largas si es necesario */
  animation: typing 0.05s steps(40, end);
}

.hidden {
  display: none;
}

.blinking {
  animation: blink 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
