@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

html,
body {
  margin: 0;
}

body {
  color: white;
}

.container {
  font-family: "Sawarabi Gothic", sans-serif;
  flex-direction: rowreverse;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 1080px;
  width: 800px;
}

.element_3 {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.elemente_3_a {
  position: relative;
  z-index: 1;
}

.productivo {
  background-image: url("/img/kero_produc.png");
  height: 220px;
  width: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: monospace;
  border-radius: 0.8em;
  color: rgba(226, 238, 237, 0.989);
  padding: 0.5em;
}

.descanso {
  background-image: url("/img/kero_break.png");
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: monospace;
  border-radius: 0.8em;
  color: rgba(226, 238, 237, 0.989);
  padding: 0.5em;
}

.elemente_3_b {
  background-image: url("/img/bambus.png");
  background-position: top;
  border-radius: 1rem;
  background-color: rgb(2, 1, 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -260px;
  height: 75%;
  width: 60%;
  border: rgba(14, 242, 223, 0.989) 5px inset;
  box-shadow: 0 0 15px rgba(14, 242, 223, 0.989),
    0 0 20px rgba(6, 224, 240, 0.989);
  animation: pulse 1s infinite alternate;
}

.element_4 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.element_4_a {
  color: rgb(241, 247, 247);
  text-align: center;
  font-size: 0.9em;
  margin-top: -50px;
  margin-left: 60px;
  min-width: 50%;
  min-height: 0.1em;
  max-width: 2em;
  background-color: rgb(10, 7, 14);
  border-radius: 2em;
}

/** Elementos  de la seccion timer */

.item_timer_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 5em;
  width: 75%;
}

.item_timer_1 h1 {
  color: rgba(226, 238, 237, 0.989);
  font-size: 90px;
  font-weight: bolder;
  text-shadow: 5px 5px 10px #000000;
  text-align: center;
}

.item_timer_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 5px 5px 5px 5px;
  text-align: center;
  width: 25%;
}

.item_timer_2_a,
.item_timer_2_b {
  background: black;
  height: 120px;
  margin: 0.5em;
  border-radius: 2em;
  margin-right: -40px;
}

.item_timer_2_a h3 {
  color: rgba(226, 238, 237, 0.989);
  font-size: 1.2em;
  font-weight: bolder;
  animation: brillo 2s infinite;
}

.item_timer_2_b h2 {
  color: rgba(226, 238, 237, 0.989);
  font-size: 2.2em;
  font-weight: bolder;
  font-weight: 900;
  text-shadow: 2px 2px 5px #000000;
}

@keyframes brillo {
  0% {
    opacity: 1;
    color: rgba(14, 242, 223, 0.989);
  }
  50% {
    opacity: 0.7;
    color: rgba(14, 242, 223, 0.7);
  }
  100% {
    opacity: 1;
    color: rgba(14, 242, 223, 0.989);
  }
}

@keyframes parpadeo {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.consola-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  color: rgb(12, 11, 11);
}

.blink {
  color: black;
  animation: parpadeo 1s infinite;
}

#root {
  flex: 1; /* Asegurarse de que el contenedor principal ocupe el espacio disponible */
}
